@import "singolo1.css";


/* General */

.wrapper-block {
  display: block;
}

.section {
  padding-top: 61px;
  padding-bottom: 67px;
}

.section-dark {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.section-light {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.section-title {
  padding-bottom: 19px;
  letter-spacing: -0.2px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
}

.section-descr {
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}


/* Buttons */

.btn-wrap {
  display: flex;
  padding-top: 10px;
  padding-bottom: 19px;
  padding-left: 1px;
}

.btn {
  padding: 4px 6px 3px;
  font-size: 12px;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 3px;
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn:hover {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.btn-active {
  color: #dedede;
  border: 1px solid #c5c5c5;
}


/* Grid of images */

.grid-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-img:nth-child(n+13) {
  display: none;
}


/* Grid of persons */

.grid-persons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 45px;
}

.person p {
  font-size: 12px;
  line-height: 21.56px;
  text-align: justify;
}

.person p span {
  letter-spacing: 0;
}

.text-lt-small {
  letter-spacing: -0.1px;
}

.person-name {
  max-width: 300px;
  padding-top: 14px;
  padding-bottom: 10px;
  line-height: 1;
  color: #666d89;
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -0.1px;
  margin-left: -1px;
}

.social-wrap {
  display: flex;
  padding-top: 24px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.social svg {
  width: 14px;
  height: 14px;
  fill: #666d89;
}

.social:not(:last-child) {
  margin-right: 8px;
}

.social:hover {
  border: 1px solid #f06c64;
}

.social:hover svg {
  fill: #f06c64;
}
