@import "fonts.css";


/* General */

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  font-family: "Lato", "Arial", sans-serif;
  color: #767e9e;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

main {
  padding-top: 95px;
}

.section {
  padding-top: 60px;
  padding-bottom: 67px;
}

.section--dark {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.section--light {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.section--warning {
  padding-top: 60px;
  padding-bottom: 58px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.section__title {
  padding-bottom: 19px;

  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.2px;
}

.section__descr {
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}

.section__title--light,
.section__descr--light {
  color: #f0d8d9;
}

.wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.wrapper--block {
  display: block;
}

.wrapper--pt44 {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 44px;
}

.section--warning .wrapper {
  padding-left: 39px;
}


/* Header */

.header {
  position: fixed;
  z-index: 4;

  width: 100%;
  height: 95px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header .wrapper {
  height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #ffffff;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.logo:hover {
  color: #f06c64;
}

.logo h1,
.logo span {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
}

.logo h1 {
  letter-spacing: -0.5px;
}

.logo span {
  color: #f06c64;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 14.1px;

  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.2px;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.link:not(:last-child)::after {
  content: "";

  min-width: 2px;
  height: 2px;
  margin-left: 14.1px;

  background-color: #494e62;
  border-radius: 50%;
}

.link--active,
.link:hover {
  color: #f06c64;
}


/* Slider */

.slider {
  width: 100%;

  border-bottom: 6px solid #ea676b;
}

.slider__wrapper {
  position: relative;

  width: 100%;
  overflow: hidden;
}

.slider__item {
  position: relative;

  display: none;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 53px;
  padding-right: 40px;
  padding-bottom: 58px;
  padding-left: 40px;

  background-color: #f06c64;

  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
}

.slider__item--single {
  padding-top: 43px;
  padding-bottom: 38px;

  background-color: #648bf0;
}

.slider__item--active,
.slider__item--next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item--next {
  position: absolute;
  top: 0;

  width: 100%;
}

.slider__images {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 78.137vw;
  max-width: 797px;
}

.slider__images--single {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__img {
  position: relative;
  left: -0.5px;

  width: 23.53vw;
  max-width: 240px;
  height: 47.353vw;
  max-height: 483px;
}

.slider__img--rotated {
  top: -0.5px;
  left: -1.5px;

  width: 47.353vw;
  max-width: 483px;
  height: 23.53vw;
  max-height: 240px;
}

.slider__img--single {
  width: 25vw;
  max-width: 255px;
  height: 50.294vw;
  max-height: 513px;
}

.wrapper_controls {
  position: absolute;
  top: 0;
  left: 50%;

  height: 100%;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__control {
  position: absolute;
  top: calc(50% - 23px);
  right: auto;
  left: 2.451vw;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 46px;

  border-radius: 50%;
  cursor: pointer;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.slider__control svg {
  width: 16px;
  height: 27px;

  fill: #e94348;
}

.slider__control--right {
  right: 2.451vw;
  left: auto;

  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__control:hover,
.slider__control:focus {
  background-color: rgba(242, 242, 242, 0.6);
}

.slider__control--to-left {
  -webkit-animation-name: to-left;
          animation-name: to-left;
}

.slider__control--from-right {
  -webkit-animation-name: to-right;
          animation-name: to-right;
}

.slider__control--to-right {
  -webkit-animation-name: to-right;
          animation-name: to-right;
  animation-direction: reverse;
}

.slider__control--from-left {
  -webkit-animation-name: to-left;
          animation-name: to-left;
  animation-direction: reverse;
}

@-webkit-keyframes to-left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes to-left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@-webkit-keyframes to-right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@keyframes to-right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.iphone,
.screen,
.shadow {
  position: absolute;
  top: 0;
  left: 0;
}

.iphone {
  z-index: 2;

  width: 21.08vw;
  max-width: 215px;
  height: 44.9vw;
  max-height: 458px;
}

.iphone--rotated {
  width: 44.9vw;
  max-width: 458px;
  height: 21.08vw;
  max-height: 215px;
}

.iphone--big {
  width: 22.5vw;
  max-width: 229.5px;
  height: 47.696vw;
  max-height: 486.5px;
}

.iphone--decor {
  position: absolute;
  top: 21.25%;
  right: 22.5vw;
  right: 90%;
  left: auto;
  z-index: 0;

  width: 15.392vw;
  max-width: 157px;
  height: 30.784vw;
  max-height: 314px;

  opacity: 0.5;
}

.iphone--decor-right {
  right: auto;
  left: 22.5vw;
  left: 90%;
}

.iphone:not(.iphone--decor),
.screen {
  cursor: pointer;
}

.shadow {
  top: 1px;
  left: 1px;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.screen {
  top: 13.46%;
  left: 5.835%;
  z-index: 3;

  width: 18.43vw;
  max-width: 188px;
  height: 32.647vw;
  max-height: 333px;

  background: center / cover no-repeat url(./assets/img/screen-1.png);
  border-radius: 2px;

  -webkit-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.screen--rotated {
  top: 5.42%;
  left: 12.43%;

  width: 32.645vw;
  max-width: 333px;
  height: 18.45vw;
  max-height: 188px;

  background: center / cover no-repeat url(./assets/img/screen-2.png);
}

.screen--big {
  top: 13.46%;
  left: 5.835%;

  width: 19.706vw;
  max-width: 201px;
  height: 34.706vw;
  max-height: 354px;

  background: center / cover no-repeat url(./assets/img/screen-3.png);
  border-radius: 2px;
}

.screen--empty {
  opacity: 0;
}


/* Services */

.services {
  padding-top: 60px;
  padding-bottom: 46px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services .wrapper {
  display: block;
}

.services h2 {
  padding-bottom: 19px;

  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.2px;
}

.services__text {
  padding-bottom: 46px;

  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.1px;
}

.services__text span {
  margin-left: 1.5px;

  letter-spacing: 0;
}

.grid-services {
  display: grid;
  grid-column-gap: 1.96vw;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 87px;
  overflow-y: hidden;
}

.services__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  min-width: 59px;
  height: 59px;
  margin-top: 1px;
  margin-right: 20px;
  margin-left: 1px;

  border: 2px solid #666d89;
  border-radius: 50%;
}

.services__icon svg {
  width: 32px;
  height: 32px;

  fill: #666d89;
}

.services__descr h4 {
  margin-bottom: 9.5px;

  font-weight: 900;
  line-height: 1;
  color: #666d89;
  letter-spacing: -0.1px;
}

.services__descr p {
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
}


/* Buttons */

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11px;
  padding-bottom: 19px;
  padding-left: 1px;
}

.btn-tag {
  padding: 4px 6px 3px;

  font-size: 12px;
  color: #666d89;

  border: 1px solid #666d89;
  border-radius: 5px;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn-tag:not(:last-child) {
  margin-right: 10px;
}

.btn-tag:hover {
  color: #dedede;

  border: 1px solid #c5c5c5;
}

.btn-tag--active {
  color: #dedede;

  border: 1px solid #c5c5c5;
}


/* Grid of images */

.grid-images {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.grid__img {
  width: 100%;
  height: auto;
  border: 5px solid transparent;
  cursor: pointer;
}

.grid__img:nth-child(n+13) {
  display: none;
}

.grid__img--active {
  border: 5px solid #f06c64;
}

.grid__img--hidden {
  display: none;
}


/* Grid of persons */

.grid-persons {
  display: grid;
  padding-top: 45px;
  grid-column-gap: 1.961vw;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.person {
  display: flex;
  flex-direction: column;
}

.person__img {
  width: 100%;
  height: auto;
}

.person p {
  font-size: 12px;
  line-height: 21.56px;
  text-align: justify;
  letter-spacing: -0.5px;
}

.person p span {
  letter-spacing: 0;
}

.text-lt-small {
  letter-spacing: -0.1px;
}

.person__name {
  max-width: 300px;
  margin-left: -1px;
  padding-top: 14px;
  padding-bottom: 10px;
  overflow: hidden;

  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  color: #666d89;
  letter-spacing: -0.1px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  padding-top: 25px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border: 1px solid #666d89;
  border-radius: 50%;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.social svg {
  width: 14px;
  height: 14px;

  fill: #666d89;
}

.social:not(:last-child) {
  margin-right: 8px;
}

.social:hover {
  border: 1px solid #f06c64;
}

.social:hover svg {
  fill: #f06c64;
}


/* Form */

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 65.85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.input,
.textarea {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 11.5px 15px 12.5px 15px;

  font-size: 12px;
  font-family: inherit;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #f48c8f;
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #f48c8f;
}

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: #f48c8f;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #f48c8f;
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #f48c8f;
}

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: #f48c8f;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #f48c8f;
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #f48c8f;
}

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: #f48c8f;
}

.input::placeholder,
.textarea::placeholder {
  color: #f48c8f;
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
  background-color: #f0d8d9;
  outline: none;
}

.input {
  margin-bottom: 1.569vw;
}

.textarea {
  min-height: 202px;
  margin-top: 0.5px;
  padding-top: 11px;

  resize: none;
}

.btn-submit {
  width: 136px;
  margin-top: 1.373vw;
  padding: 10px 10px 11px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: #886a30;
  text-transform: uppercase;

  background-color: #fbc65f;
  border: 2px solid #fbc65f;
  border-radius: 5px;
  cursor: pointer;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
  border: 2px solid #886a30;
  outline: none;
}


/* Contact */

.contact {
  -ms-flex-preferred-size: 31.95%;
  flex-basis: 31.95%;
  margin-top: -1px;

  color: #f0d8d9;
}

.contact__title {
  margin-bottom: 9px;

  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.1px;
}

.contact__descr {
  margin-bottom: 22px;

  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: -0.1px;
}

.contact__descr span {
  letter-spacing: 0;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1px;
  margin-bottom: 8px;

  font-size: 12px;
  color: #f0d8d9;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.contact__item:hover,
.contact__item:focus,
.contact__item:active {
  color: #666d89;
}

.contact__item svg {
  width: 11px;
  height: 11px;
  margin-right: 11px;

  fill: #f0d8d9;
}

.contact__item .icon-phone {
  margin-top: -1px;
}

.contact__item .icon-mail {
  width: 12px;
  height: 12px;
  margin-top: 1.5px;
  margin-right: 9.5px;
}

.contact__item:hover svg,
.contact__item:focus svg,
.contact__item:active svg {
  fill: #666d89;
}


/* Footer */

.footer {
  padding-top: 22px;
  padding-bottom: 22px;

  background-color: #2d303a;
}

.footer__copyright {
  padding-left: 2px;

  font-size: 12px;
  color: #666d89;
  letter-spacing: -0.2px;
}

.footer__copyright .splitter {
  position: relative;
  bottom: 3px;

  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
}

.social__wrap--footer {
  flex-grow: 0;
  padding: 0;
}


/* Modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: relative;

  width: 90%;
  max-width: 600px;
  min-height: 200px;
  max-height: 90%;
  padding: 15px;
  overflow: auto;

  color: #886a30;

  background-color: #fbc65f;
  border-radius: 5px;
}

.modal__content {
  padding: 10px 0;

  text-align: center;
}

.modal__title {
  margin-bottom: 1rem;
}

.modal__text {
  margin-bottom: 0.6rem;
}

.modal__close {
  display: block;
  width: 90px;
  margin: 14px auto 20px;
  padding: 10px 10px 11px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: #886a30;
  text-transform: uppercase;

  background-color: #fbc65f;
  border: 2px solid #886a30;
  border-radius: 5px;
  cursor: pointer;

  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.modal__close:hover,
.modal__close:focus {
  color: #fbc65f;

  background-color: #886a30;
  outline: none;
}
